body {
	background: #efe5d0 ;
	margin: 20px;
}

h1{
    font-style:normal;
    padding-top:      5px;
    padding-bottom:   5px;
    color: rgb(48, 45, 28);
}

h2{
    font-style:italic;
    color: darkgray;

}

legend {
	font-weight: bold;
}

form {
	display: table;
	padding: 10px;
	border-color: darkgray;
	background-color: #d7ebde;
}

div.tableRow {
	display: table-row;
}

div.tiwaihua{
	display:flexbox;
	vertical-align:auto;
	padding: 3px;
}
div.tableRow label:first-child {
	text-align: right;
}

