
body {
    background-color:lightyellow;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px dotted black;
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
  }
#header {
    background-color:lightpink;
    margin:     0px;
    height:   4cm;
}

#header img#h536 {
    float:right;
}

h1{
    float: right;
    color: aquamarine;
}

